<nav class="navbar sticky top-0" data-component="navbar">
  <div class="container">
    <div class="navbar__wrapper">
      <a class="navbar__brand" href="index.html">
        Logo
      </a>
      <button class="navbar__toggler" role="button" data-js="navbar-toggler">
        <span class="navbar__toggler-line"></span>
        <span class="navbar__toggler-line"></span>
        <span class="navbar__toggler-line"></span>
      </button>
      <div class="navbar__collapse">
        <ul class="navbar__menu">
          <li class="navbar__item{% if menu_active == 'demo-page' %} navbar__item--selected{% endif %}">
            <a class="navbar__link" href="index.html">
              Index Page
            </a>
          </li>
          <li class="navbar__item{% if menu_active == 'blank-page' %} navbar__item--selected{% endif %}">
            <a class="navbar__link" href="starter.html">
              Starter Page
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
