/**
 * Colors
 */

$color-base: #4a5568 !default;
$color-primary: #007bff !default;
$color-secondary: #7f19e6 !default;
$color-white: #fff !default;
$color-light: #f2f2f2 !default;
$color-dark: #2d3748 !default;
$color-black: #000 !default;
$color-success: #00b300 !default;
$color-error: #c00 !default;

// Used for generating CSS utility classes
$colors: (
  'base': $color-base,
  'primary': $color-primary,
  'secondary': $color-secondary,
  'white': $color-white,
  "light": $color-light,
  "dark": $color-dark,
  'black': $color-black,
  'success': $color-success,
  'error': $color-error
) !default;

// Links
$color-link-color: #007bff !default;
$color-link-color-hover: darken($color-link-color, 20%) !default;
